
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 33% 97.5%;
    --foreground: 247 62% 10%;
    --card: 0 0% 100%;
    --card-foreground: 247 62% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 247 62% 10%;
    --primary: 247 62% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 252 33% 92%;
    --secondary-foreground: 247 62% 47%;
    --muted: 252 20% 90%;
    --muted-foreground: 247 20% 40%;
    --accent: 205 84% 72%;
    --accent-foreground: 247 62% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 247 20% 88%;
    --input: 247 20% 88%;
    --ring: 247 62% 47%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 247 62% 5%;
    --foreground: 0 0% 98%;
    --card: 247 62% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 247 62% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 247 62% 60%;
    --primary-foreground: 247 62% 10%;
    --secondary: 247 40% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 247 40% 15%;
    --muted-foreground: 247 20% 65%;
    --accent: 205 84% 60%;
    --accent-foreground: 247 62% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 247 40% 20%;
    --input: 247 40% 20%;
    --ring: 247 62% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
